{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>{% block title %}

    {% endblock %}</title>

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script>
       // ****************************** 图片轮播***********************


        // <!--第一步：用js生成小圆点-->
    //    首先声明一个变量，用来生成圆点，这里我们使用for循环生成
        $(function(){
            var a=$(".slide_img li").length;
            var c=$(".points");
            var nowli=0;
            for (var i=1;i<=a;i++){
                var b=$("<li>");
                if (i==1){
                    b.addClass("active")
                }
                b.appendTo(c)
        }
            var e=$(".points li");
            var f=0;
            var g=$(".slide_img li");
            g.not(":first").css({"left":894})
            e.click(function(){
                nowli=$(this).index();
                if (nowli==f){
                    return
                }
                move()
                $(this).addClass("active").siblings().removeClass("active")
            })
            $(".left").click(function(){
                //nowli--
                // nowli=nowli-1
                // nowli=3;
                // nowli=a;
                nowli--;
                move();
                e.eq(nowli).addClass("active").siblings().removeClass("active")
            })
            $(".right").click(function(){
                //nowli--
                // nowli=nowli-1
                // nowli=0;
                nowli++;
                move();
                e.eq(nowli).addClass("active").siblings().removeClass("active")
            })
            function autoplay(){
                nowli++
                move();
                e.eq(nowli).addClass("active").siblings().removeClass("active")
            }
              h=setInterval(autoplay,2500)
            $("#wrapper").mouseenter(function(){
            clearInterval(h)
            })
            $("#wrapper").mouseleave(function(){
            h=setInterval(autoplay,2500)
            })
            // setInterval(autoplay,1500)

            function move(){
                if(nowli<0){
                    nowli=3;
                    f=0;
                    g.eq(nowli).css({"left":-894});
                    g.eq(f).stop().animate({"left":894});
                    g.eq(nowli).stop().animate({"left":0});
                    f=nowli;
                    return
                }
                if(nowli>3){
                    nowli=0;
                    f=3;
                    g.eq(nowli).css({"left":894});
                    g.eq(f).stop().animate({"left":-894});
                    g.eq(nowli).stop().animate({"left":0});
                    f=nowli;
                    return
                }
                if (nowli>f){
                    g.eq(nowli).css({"left":894});
                    g.eq(f).stop().animate({"left":-894});
                    g.eq(nowli).stop().animate({"left":0});
                    f=nowli
                }else{
                    g.eq(nowli).css({"left":-894});
                    g.eq(f).stop().animate({"left":894});
                    g.eq(nowli).stop().animate({"left":0});
                    f=nowli
                }
            }
        })

    </script>


</head>
<body>
    <div id="box02">
        <div class="logo">

        </div>
        <div class="search">
            <form action="{% url 'chazhao' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="q" name="q" placeholder="请输入搜索文字">
				<input class="btn-search" type="submit" value="搜索">
            </form>

        </div>

        <div class="searchdown">
            <ul>
					<li><a href="https://s.weibo.com/weibo/%2523%25E9%2583%2591%25E7%2588%25BD%25E7%25A9%25BF%25E8%25A3%2599%25E5%25AD%2590%2523?topnav=1&wvr=6&Refer=top_hot">郑爽穿裙子</a></li>
					<li><a href="https://s.weibo.com/weibo/%2523%25E6%25B2%2588%25E6%25A2%25A6%25E8%25BE%25B0%25E9%2581%2593%25E6%25AD%2589%2523?topnav=1&wvr=6&Refer=top_hot">沈梦辰道歉</a></li>
					<li><a href="https://s.weibo.com/weibo/%2523%25E4%25BA%2594%25E6%259C%2588%25E7%2597%2585%2523?topnav=1&wvr=6&Refer=top_hot">五月病</a></li>
				    <li><a href="https://s.weibo.com/weibo/%2523%25E5%258C%25BB%25E5%25AD%25A6%25E5%25A5%25B6%25E8%258C%25B6%2523?topnav=1&wvr=6&Refer=top_hot">医学奶茶</a></li>
                <li><a href="https://s.weibo.com/weibo/%2523%25E7%25A7%258B%25E7%2593%25B7%25E7%2582%25AB%25E4%25BA%258E%25E6%2599%2593%25E5%2585%2589%25E5%25A9%259A%25E7%25BA%25B1%25E7%2585%25A7%2523?topnav=1&wvr=6&Refer=top_hot">秋瓷炫于晓光婚纱照</a></li>
                <li><a href="https://s.weibo.com/weibo/%2523%25E4%25B8%25AD%25E5%259B%25BD%25E6%25B8%25B8%25E5%25AE%25A2%25E5%259C%25A8%25E5%259B%25BD%25E5%25A4%2596%25E7%2599%25BB%25E6%259C%25BA%25E5%258F%25A3%25E5%25B9%25BF%25E6%2592%25AD%2523?topnav=1&wvr=6&Refer=top_hot">中国游客在国外登机口广播</a></li>

			</ul>
        </div>

    </div>
    <div id="box03">
        <div class="daohang">
            <ul class="zhuti">

			</ul>
            <ul class="qita">

            <li><a href="{% url 'index' %}">首页</a></li>
			<li><a href="{% url 'wenzhang' %}">个人文章</a></li>
			<li><a href="{% url 'guanzhurenyuan' %}" >关注人员</a></li>
			<li><a href="{% url 'guan' %}">所有人员</a></li>
			<li><a href="{% url 'write_ArticleModel' %}">发表文章</a></li>
			<li><a href="{% url 'per_home' %}">个人主页</a></li>
			<li><a href="{% url 'haoyou' %}">关注人文章</a></li>
			{% if u %}
                <li><a href="{% url 'per_home' %}" >{{ u.name }}</a></li>
                <li><a href="{% url 'flush' %}">注销</a></li>
            {% else %}
                <li><a style="margin-left: 20px" href="{% url 'register' %}" >注册</a></li>
                <li><a href="{% url 'login' %}">登录</a></li>

            {% endif %}

            </ul>
        </div>
    {% block dody %}

    {% endblock %}
    </div>



</body>
</html>