{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
</head>
<body>
<div style="width: 1400px;height: 700px;top:0;left:0;position:absolute;"><img src="{% static 'phone/body4.png' %}" alt="">
    <div style="width: 900px;height: 161px;top:30px;left:220px;position: absolute"><img src="{% static 'phone/head.jpg' %}" alt="">
        <div style="width: 80px;height: 27px;top:17px;left:30px;position: absolute;"><img src="{% static 'phone/WB_logo.png' %}" alt="">
        </div>
        <div style="width: 100px;height: 100px;top:58px;left:393px;position: absolute"><img src="{% static 'phone/head_photo.jpg' %}" alt="">
    </div>
    </div>
    <div style="width: 600px;height: 430px;top:230px;left:520px;background-color:white;position: absolute">
        <h4 style="left:25px;position: absolute">基本信息</h4>
        <form style="top:60px;left:140px;position: absolute"  action="{% url 'per_home' %}" method="get" enctype="multipart/form-data">
            {% csrf_token %}
            <p>用户名：<input type="text" value="{{ d.username }}" name="username"></p>
            <p>昵称：<input type="text" value="{{ d.name }}" name="name"></p>
            <p>密码：<input type="text" value="{{ d.password }}" name="password"></p>
            <p>年龄：<input type="text" value="{{ d.age }}" name="age"></p>
            <p>性别：<input type="text" value="{{ d.sex }}" name="sex"></p>
            <p>个性签名：<input type="text" value="{{ d.sign }}" name="sign"></p>
            <p><input type="submit" value="确定">&nbsp;&nbsp;&nbsp;<input type="reset" value="重置"></p>
        </form>

    </div>
    <div style="width: 260px;height: 130px;top:230px;left:218px;background-color:white;position:absolute">
        <p style="left:75px;position:absolute">关注：{{ d.att_num }}</p>
        <p style="left:75px;top:33px;position:absolute">粉丝：{{ d.bean_num }}</p>
        <p style="left:75px;top:70px;position:absolute">微博：{{ d.art_num }}</p>
    </div>
    <div style="width: 260px;height: 260px;background-color:white;top:400px;left:218px;position: absolute">
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp扫码咨询</h4>
        <p style="width: 128px;height: 128px;left:60px;position:absolute"><img src="{% static 'phone/code.jpg' %}" alt=""></p>
    </div>
</div>
</body>
</html>