{% extends 'base.html' %}
{% load static %}
{% block title %}
发表文章
{% endblock %}




{% block dody %}
    <div id = "wz" style="width:1500px;height: 550px;background: url('{% static 'phone/body.jpg' %}');position: relative;opacity: 0.5;">
{#        <form action="{% url 'write_article' %}" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <p>标题：<input type="text" name="title" id="bb" style="width: 500px;height: 50px;font-family: 仿宋;font-size: 15px;"></p>#}
{#            <p>正文：<input type="text" name="article" id="cc" style="width: 800px;height: 300px;font-family: 仿宋;font-size: 15px;"></p>#}
{#            <p><input type="submit" value="发表文章" id="dd" style="width: 80px;height: 30px;background-color: white;font-size: 15px;font-family:仿宋;border-radius: 3px;left: 700px;cursor: pointer;box-shadow: 0.001px 0.001px 10px 0.00005px #000;position: fixed;bottom: 100px;"></p>#}
{#        </form>#}
        <form action="{% url 'write_ArticleModel' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>标题：<input type="text" name="title" style="width: 500px;height: 50px;font-family: 仿宋;font-size: 15px;"></p>
            <p>正文：<textarea name="content" style="width: 800px;height: 300px;font-family: 仿宋;font-size: 15px;"></textarea></p>
            <input type="submit" value="提交" style="width: 80px;height: 30px;background-color: white;font-size: 15px;font-family:仿宋;border-radius: 3px;left: 700px;cursor: pointer;box-shadow: 0.001px 0.001px 10px 0.00005px #000;bottom: 100px;position:absolute">
        </form>

    </div>
{% endblock %}


