{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博个人信息保护政策（修订版）</title>
</head>
<body>
<div style="width: 1400px;height: 1600px;top:0;left:0;position:absolute;"><img src="{% static 'phone/body3.png' %}" alt=""></div>
<div style="width:800px;height: 1450px;left:300px;top:50px;background-color:white;position:absolute;">
    <h3 style="text-align: center;">微博个人信息保护政策（修订版）</h3>
    <p style="margin:10px 25px;">为切实保护微博用户隐私权，优化用户体验，微博根据现行法规及政策，制定本《个人信息保护政策》。 本《个人信息保护政策》将详细说明微博在获取、管理及保护用户个人信息方面的政策及措施。本《个人信息保护政策》适用于微博向你提供的所有服务，无论你是通过计算机设备、移动终端或其他设备获得的微博服务。</p>
    <p style="margin:10px 25px;">对于本个人信息保护政策或相关事宜有任何问题，你可随时通过访问微博在线客服系统、微博官方服务账号或拨打我们的任何一部客服电话等多种方式与我们联系。</p>
    <p style="margin:10px 25px;">
                本个人信息保护政策部分将帮助你了解以下内容： <br>
                1、我们如何收集和使用你的个人信息 <br>
                2、我们如何使用 Cookie 和同类技术 <br>
                3、我们如何共享、转让、公开披露你的个人信息 <br>
                4、我们如何保护你的个人信息 <br>
                5、你如何管理你的个人信息 <br>
                6、我们如何处理未成年人的个人信息 <br>
                7、本个人信息保护政策如何修改</p>
    <p style="margin:10px 25px;">本个人信息保护政策是你使用微博服务及各项功能的基础性法律文件，我们希望你在使用微博服务前仔细阅读并明确你已经充分理解、接受本政策的内容，希望你可以根据自己的理解做出合适的选择。我们努力通过通俗的语言表述本个人信息保护政策中涉及的相关术语，并提供进一步说明的链接，以便你更好地理解。在我们更新本个人信息保护政策后（我们会及时提示你更新的情况）你继续使用我们的产品与/或服务，即意味着你同意本个人信息保护政策(含更新版本)内容，并且同意我们按照本个人信息保护政策收集、使用、保存和共享你的相关信息。</p>
    <p style="margin:10px 25px;">本个人信息保护政策涉及的个人信息包括：基本信息（包括个人姓名、生日、性别、住址、个人电话号码、电子邮箱）；个人身份信息（包括身份证、军官证、护照、驾驶证、相关身份证明等）；个人位置信息；网络身份标识信息（包括系统账号、IP地址、邮箱地址及与前述有关的密码、密保）；通讯录；个人上网记录（包括搜索记录、软件使用记录、点击记录）；个人常用设备信息（包括硬件型号、设备MAC地址、操作系统类型、软件列表唯一设备识别码（如IMEI/android ID/IDFA/OPENUDID/GUID、SIM卡IMSI信息等在内的描述个人常用设备基本情况的信息）；</p>
    <p style="margin:10px 25px;">个人敏感信息是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息，本个人信息保护政策中涉及的个人敏感信息包括：个人身份信息（包括身份证、军官证、护照、驾驶证、户口本）；网络身份识别信息（包括账户名、账户昵称、邮箱地址及与前述有关的密码与密码保护问题和答案）；其他信息（包括通讯录、个人电话号码、手机号码、行程信息、网页浏览记录、精准定位信息、银行账户）；相关身份证明；</p>
    <h4 style="margin:10px 25px;">个人信息的收集</h4>
    <p style="margin:10px 25px;">你已知悉且同意，在你注册微博账号或使用微博提供的服务时，微博将记录你提供的相关个人信息，如：密码、手机号码等，上述个人信息是你获得微博提供服务的基础。同时，基于优化用户体验之目的，微博会获取与提升微博服务有关的其他信息，例如当你访问微博时，我们可能会收集哪些服务的受欢迎程度、浏览器软件信息等以便优化我们的服务。</p>
    <p style="margin:10px 25px;">在你使用微博前，我们会引导你阅读本协议，并在你接受本协议的基础上，获得你的相关个人信息。如果你不同意提供个人信息，你将无法使用微博的全部或部分功能和服务，或无法获得更个性化的功能，或无法参加某些活动，或无法收到我们的通知等。</p>
    <p style="margin:10px 25px;">微博仅会在出现下列情况时收集你的个人信息：</p>
    <p style="margin:10px 25px;">在你注册微博账号时，我们至少会收集你的账户昵称、性别、密码、密码保护选项、电子邮箱、手机号码等信息。若你以其他方式关联登陆微博，我们会向关联第三方请求你的个人信息，对于我们要求但第三方无法提供的个人信息，我们仍可以要求你提供。如果你拒绝提供这些信息，将影响你使用微博或微博的相关功能。在您注册使用微博时，我们会对你进行实名验证，如果你拒绝提供有关信息，微博将拒绝向你提供服务。</p>
    <p style="margin:10px 25px;">在你发送微博、使用微博提供的位置定位服务时，我们会收集你的位置信息、设备信息等。微博保证在你的设备使用定位服务时不会收集其他无关信息。</p>
    <p style="margin:10px 25px;">在你使用微博提供的搜索服务时，我们会收集你的查询关键字信息、设备信息等，为了提供高效的搜索服务，这些信息有部分会暂时存储在你的本地存储设备之中。在此，你需要注意的是，你的关键词信息无法单独识别你的个人身份，其不属于你的个人信息，因此我们有权以其他的目的对其进行使用；只有当你的搜索关键词信息与你的其他信息互有联系并可以识别你的个人身份时，则在结合使用期间，我们会将你的搜索关键词信息作为你的个人信息，与你的搜索历史记录一同按照本个人信息保护政策对其进行处理与保护。</p>
    <p style="margin:10px 25px;">在你使用微博提供的身份认证服务时，我们会收集你的姓名、身份证号、职业、有关身份证明等信息，微博对你的这些隐私信息会加以最大程度的保护，如果你不提供这些信息，我们将无法提供相关服务。</p>
    <p style="margin:10px 25px;">当你参加微博的有关营销活动时，我们会收集你的姓名、学校名称、通讯地址、联系方式、银行账号等信息。这些信息是你收到转账或礼品的基础，如果你拒绝提供这些信息，我们将无法向你转账或发放礼品。</p>
</div>
</body>
</html>