{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博注册</title>
</head>
<body>
<div style="width: 1350px;height: 1000px;position: relative;">
    <div style="width: 140px;height: 70px;top:0;left:470px;position:absolute;background-color: white"><img src="{% static 'phone/logo.jpg' %}" alt="加载失败"></div>
    <div style="width: 900px;height: 650px;background-color:papayawhip;left:230px;top:200px;position:absolute;border-radius: 50px;">
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <p style="top:80px;left:136px;position: absolute">用户名：<input type="text" name="username"></p>
        <p style="top:130px;left:150px;position: absolute">昵称：<input type="text" name="name"></p>
        <p style="top:170px;left:120px;position:absolute">设置密码：<input type="password" name="password"></p>
        <p style="top:210px;left:120px;position:absolute">确认密码：<input type="password" name="pw"></p>
        <p style="top:240px;left:150px;position:absolute;color:red">{{ b }}</p>

        <p style="top:270px;left:150px;position:absolute">年龄：<input type="text" name="age"></p>
        <p style="top:310px;left:150px;position:absolute">电话号：<input type="text" name="phone"></p>
        <p style="top:340px;left:150px;position:absolute;color:red">{{ c }}</p>
        <p style="top:370px;left:152px;position:absolute">性别：<input type="radio" name="sex" value="男">男&nbsp&nbsp&nbsp&nbsp<input type="radio" name="sex" value="女">女&nbsp&nbsp&nbsp&nbsp<input type="radio" name="sex" value="未知">未知 </p>
        <p style="top:410px;left:120px;position:absolute">个性签名：<input type="text" name="sign"></p>
        <p style="top:450px;left:135px;position:absolute">请输入验证码：<input type="text" name="vcode"><img src="/verify_code/" alt="验证码有误">
        <p style="top:500px;left:135px;position:absolute;color: red">{{ a }}</p>
        <p style="top:550px;left:135px;position:absolute">请选择：<input type="submit" value="立即注册">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="reset"></p>
        </form>
        <div style="width: 300px;height: 400px; border-left:1px black dashed;left:600px;top:95px;position: absolute">
            <div style="width: 200px;height: 30px;border-bottom:1px black dashed;left:20px;top:30px;position: absolute;"></div>
            <p style="left:20px;position: absolute">已有账号，<a href="{% url 'login' %}">直接登陆>></a></p>
            <p style="left:20px;top:100px;position: absolute"><a href="{% url 'de' sd='xieyi1.html' %}" target="_blank">微博服务使用协议</a></p>
            <p style="left:20px;top:160px;position: absolute"><a href="{% url 'de' sd='xieyi2.html' %}" target="_blank">微博个人信息保护政策（修订版）</a></p>
            <p style="left:20px;top:220px;position: absolute"><a href="http://news.sina.com.cn/c/2012-12-29/051425921660.shtml">全国人大常委会关于加强网络信息保护的决定</a></p>
            <p style="left:20px;top:350px;position: absolute">微博使用解释权归第二组所有</p>
        </div>
    </div>
</div>


</body>
</html>